body {
  margin-right: 0 !important;
}

.docs-gm #docs-editor,
.docs-gm #docs-editor-container,
.kix-appview-editor-container,
.docs-gm .docs-horizontal-ruler,
.docs-gm #kix-vertical-ruler {
  background: #ffffff !important;
}

.left-sidebar-container,
.docs-explore-widget-button,
.app-switcher-button,
#docs-toolbar-mode-switcher,
#docs-omnibox-toolbar,
#insertCommentButton,
#docs-instant-button-bubble,
.kix-document-top-shadow-inner {
  display: none !important;
}

.docs-gm,
.kix-page,
.kix-page-paginated,
.kix-documentmetrics-widget,
.kix-paginateddocumentplugin,
.kix-paginateddocumentplugin-compact-mode,
.docs-homescreen-templates-bar-shadow,
.docs-homescreen-floater-header-shadow,
form.gb_Re.gb_Se {
  box-shadow: none !important;
}

.kix-page-compact::before {
  border-top: none !important;
}

.docs-gm #docs-toolbar-wrapper {
  border: none !important;
  padding-bottom: 16px;
}

#docs-side-toolbar {
  padding-right: 16px !important;
  padding-bottom: 16px !important;
}

#docs-chrome {
  padding-top: 16px !important;
  opacity: 0.4;
  transition: 0.4s;
}

#docs-chrome:hover,
.kix-documentmetrics-widget:hover,
.docs-gm .docs-horizontal-ruler:hover,
.docs-gm .docs-vertical-ruler:hover {
  opacity: 1;
}

.kix-documentmetrics-widget,
.docs-gm .docs-horizontal-ruler,
.docs-gm .docs-vertical-ruler {
  opacity: 0.4;
  transition: 0.4s;
}

.kix-page,
.docs-gm .docs-horizontal-ruler {
  border-bottom: 1px solid #ffffff !important;
}

.docs-gm #kix-vertical-ruler {
  border-left: 1px solid #ffffff !important;
}

.docs-gm .docs-vertical-ruler {
  border-right: 1px solid #ffffff !important;
}

.docs-gm .docs-slidingdialog,
form.gb_Re.gb_Se {
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border: 1px solid #d9d9d9 !important;
}

.docs-spellcheckslidingdialog .docs-slidingdialog-holder {
  margin-top: 32px;
}

#docs-suggestiondialog-id .docs-slidingdialog-close-container {
  padding-top: 10px;
}
