body {
  margin-right: 0 !important;
}

#docs-editor {
  min-width: 100% !important;
}

.docs-companion-app-switcher-container,
.docs-explore-widget-button,
.app-switcher-button,
#docs-toolbar-mode-switcher,
#docs-omnibox-toolbar,
#insertCommentButton,
#docs-instant-button-bubble,
.kix-document-top-shadow-inner {
  display: none !important;
}

.kix-appview-editor,
.kix-appview-editor-container,
.docs-gm #kix-vertical-ruler,
.docs-gm #docs-editor,
.docs-gm #docs-editor-container,
.docs-gm .docs-horizontal-ruler,
.docs-gm .docs-tiled-sidebar {
  background: #ffffff !important;
}

form.gb_Re.gb_Se,
.docs-gm,
.docs-gm .docs-tiled-sidebar,
.docs-homescreen-floater-header-shadow,
.docs-homescreen-templates-bar-shadow,
.kix-documentmetrics-widget,
.kix-page,
.kix-page-paginated,
.kix-paginateddocumentplugin,
.kix-paginateddocumentplugin .kix-page-compact-box-shadow,
.kix-paginateddocumentplugin .kix-paginateddocumentplugin-compact-mode,
.kix-paginateddocumentplugin .kix-paginateddocumentplugin-compact-mode-box-shadow {
  box-shadow: none !important;
}

#docs-chrome,
.left-sidebar-container,
.kix-documentmetrics-widget,
.docs-gm .docs-horizontal-ruler,
.docs-gm .docs-vertical-ruler {
  opacity: 0.4;
  transition: 0.4s;
}

#docs-chrome:hover,
.left-sidebar-container:hover,
.kix-documentmetrics-widget:hover,
.docs-gm .docs-horizontal-ruler:hover,
.docs-gm .docs-vertical-ruler:hover {
  opacity: 1;
}

.docs-gm .docs-tiled-sidebar-header,
.docs-gm #docs-toolbar-wrapper,
.kix-page-compact::before {
  border: none !important;
}

.kix-page,
.docs-gm .docs-horizontal-ruler {
  border-bottom: 1px solid #ffffff !important;
}

.docs-gm #kix-vertical-ruler {
  border-left: 1px solid #ffffff !important;
}

.docs-gm .docs-vertical-ruler {
  border-right: 1px solid #ffffff !important;
}

.docs-gm .docs-slidingdialog,
form.gb_Re.gb_Se {
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border: 1px solid #d9d9d9 !important;
}

#hide-equation-toolbar-button {
  margin-right: 16px !important;
}

.docs-gm #docs-toolbar-wrapper {
  padding-bottom: 16px;
}

#docs-side-toolbar {
  padding-right: 16px !important;
  padding-bottom: 16px !important;
}

#docs-chrome,
#docs-suggestiondialog-id .docs-slidingdialog-close-container {
  padding-top: 16px !important;
}

.docs-spellcheckslidingdialog .docs-slidingdialog-holder {
  margin-top: 32px;
}

html {
  filter: invert(86%) hue-rotate(180deg) brightness(105%) contrast(105%);
  background: white;
}
body {
  background: white;
}
span[role="img"] {
  filter: invert(100%) hue-rotate(180deg) brightness(105%) contrast(105%);
}
img, svg, iframe, .emoji-common-emoji-sprite {
filter: invert(100%) hue-rotate(180deg) brightness(105%) contrast(105%);
}
